{release, {navicc_release, "0.0.1"}, [
    navicc,
    naviapi,
    navipoint,
    naviws,
    navistats,

    sasl
% % Debugging applications
%     % eper,
%     % recon,
%     tools,
%     wx,
%     observer,
%     runtime_tools,
%     inets,
%     % httpd,
%     webtool,
%     % appmon,
%     debugger

]}.
{include_erts,true}.
{extended_start_script, true}.
{generate_start_script,true}.
{sys_config, "rel/sys.config"}.
{vm_args, "rel/vm.args"}.
{overlay,[
    {mkdir,"log/sasl"},
    {mkdir,"mnesia"}
]}.
