{release, {navicc_release, "0.0.1"}, [
    navicc,
    % naviapi,
    % navipoint,
    % naviws,
    % navistats,

    sasl

% % Debugging applications
%     % eper,
%     % recon,
    , tools
%     wx,
    % observer
    , runtime_tools
%     inets,
%     % httpd,
%     webtool,
%     % appmon,
%     debugger

]}.
{include_erts,true}.
{include_src, false}.
{extended_start_script, true}.
{generate_start_script, true}.
{sys_config, "etc/sys.config"}.
{vm_args, "etc/vm.args"}.
{overlay,[
    {mkdir, "log/sasl"},
    {mkdir, "mnesia"}
]}.
% {add_providers, [rlx_prv_cmd]}.
% {rlx_prv_cmd, [
%     "fpm -s dir -t deb -n {{ release_name }} -v {{ release_version }} .=/opt/{{ release_name }}"
% ]}.
