{release, {'navicc-server', "0.0.1"}, [
    navicc,
    % naviapi,
    % navipoint,
    % naviws,
    % navistats,

    sasl

% % Debugging applications
%     % eper,
%     % recon,
    , tools
%     wx,
    % observer
    , runtime_tools
%     inets,
%     % httpd,
%     webtool,
%     % appmon,
%     debugger

]}.
{include_erts,true}.
{include_src, false}.
{extended_start_script, true}.
{generate_start_script, true}.
{sys_config, "rel/sys.config"}.
{vm_args, "rel/vm.args"}.
{overlay,[
    {mkdir, "log/sasl"}, % TODO: What a correct?
    {mkdir, "logs/sasl"},
    {mkdir, "stats"},
    {mkdir, "mnesia"},
    {copy, "files/etc", "etc"}
]}.
% {add_providers, [rlx_prv_cmd]}.
% {rlx_prv_cmd, [
%     "ls -l"
% ]}.
% {add_providers, [rlx_prv_cmd]}.
% {rlx_prv_cmd, [
%     "fpm -s dir -t deb -n {{ release_name }} -v {{ release_version }} .=/opt/{{ release_name }}"
% ]}.
