%% -*- mode:erlang -*-
[
    {navicc, [
    ]},

    {navidb, [
        {hostname, "localhost"},
        % {hostname, "new.navi.cc"},
        {port, 27017},
        % {poolsize, 3},
        {database, <<"erlnavicc">>}
        % {user, <<"badenmongodb">>},
        % {password, <<"1q2w3e">>}
    ]},

    {naviapi, [
        {port, 8982},
        {origin, <<"*">>},
        {acceptors, 20}
    ]},

    {navipoint, [
        {port, 8981},
        {acceptors, 50}
    ]},

    {naviws, [
        {port, 8983},
        {acceptors, 20},
        {subscribe_backend, navidb_subs}
    ]},

    {sasl, [
      {sasl_error_logger, {file, "logs/sasl-error.log"}},
      {errlog_type, error},
      {error_logger_mf_dir, "logs/sasl"},
      {error_logger_mf_maxbytes, 10485760},
      {error_logger_mf_maxfiles, 5}
    ]},

    {oauth2, [
        {backend, oauth2_ets_backend},
        {expiry_time, 3600}
    ]},

    {lager, [
            {crash_log,
% ${NL}     "${RUNNER_LOG_DIR}/crash.log"}, {disable_default_crash_log,
            "logs/crash.log"}, {crash_log_size, 0}, {crash_log_date, "$D0"}, {crash_log_count, 5},
            {error_logger_hwm, 100},
            {async_threshold, 30}, {async_threshold_window, 10},
            {handlers, [
                    % {lager_console_backend, info},
                    {lager_console_backend, [warning, {lager_default_formatter, [time, " [",severity,"] ", pid, "@", module, " ", message, "\n"]}]},
                    {lager_file_backend, [{file,
% ${NL}                                     "${RUNNER_LOG_DIR}/events.log"}, {file, % second entry is not read
                                            "logs/events.log"}, {level, notice}, {size, 0}, {date, "$D0"}, {count, 5}, {formatter, lager_default_formatter},
                                            {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", message, "\n"]}]},
                    {lager_file_backend, [{file,
% ${NL}                                    "${RUNNER_LOG_DIR}/access.log"}, {file, % second entry is not read
                                            "logs/access.log"}, {level, none}, {size, 0}, {date, "$D0"}, {count, 5}, {formatter, lager_default_formatter},
                                            {formatter_config, [date, " ", time," [",severity,"] ", pid, " ", peer, " \"", method, " ", url, "\" ", status, "\n"]}]}
            ]},
            {traces, [
                    {{lager_file_backend, "logs/access.log"}, [{tag,
% ${NL}                                                         disable_default_access}], info},
% ${NL}             {{lager_file_backend, "${RUNNER_LOG_DIR}/access.log"}, [{tag,
                                                                access}], info}
                    ]}
            ]}
    ]}

    % {sync, [
    %         {growl, [errors, warnings]},
    %         {log, all}
    %         % {non_descendants, fix},
    %         % {executable, auto},
    %         % {excluded_modules, []}
    % ]}
].
